<p class="visuallyhidden">Recipe</p>


<h1><%= @recipe_title %></h1>
<img src="<%= @recipe_imageURL %>" class="large-image">
<div class="recipedetails">
  <p><%= @recipe_description %></p>
  <p>Cuisine: <%= @recipe_cuisine %></p>
  <p>Servings: <%= @recipe_yield %></p>
  <p>Total Time: <%= @recipe_time %> minutes</p>
  <p>Rating: <%= @recipe_rating %></p>

  <p>Ingredients:</p>
  <ul>
    <% @recipe_ingredient_array.each do |ingredient| %>
      <li> <%= ingredient %></li>
      <% end %>
  </ul>

  <p>Instructions:</p>
  <ol>
  <% @recipe_instructions.each do |instruction_line| %>
    <li><%= instruction_line %></li>
  <% end %>
  </ol>
</div>

<% if signed_in? %>
  <%= form_tag [@user,@recipe], method: 'post' do %>
    <%= hidden_field_tag :recipe_id, @recipe_id %>

    <%= submit_tag "Save Recipe to MyCookbook", id: "create" %>
  <% end %>

<% end %>

<%= link_to "Back to Search Results", :back %>
