<h1><%= @recipe.title %></h1>

<img src="<%= @recipe.imageURL %>" class="large-image">
<div class="recipedetails">
<p><%= @recipe.description %></p>
<p>Cuisine: <%= @recipe.cuisine %></p>
<p>Servings: <%= @recipe.yield %></p>
<p>Total Time: <%= @recipe.time %> minutes</p>

<p>Ingredients:</p>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li> <%= ingredient %></li>
    <% end %>
</ul>

<p>Instructions:</p>
  <ol>
  <% @recipe.instructions.each do |instruction_line| %>
    <li><%= instruction_line %></li>
  <% end %>
  </ol>
</div>

<%= form_for [@user,@recipe], method: 'delete' do |f| %>
  <%= f.submit "Delete Recipe from MyCookbook", id: "destroy" %>
<% end %>
