<h1>Advanced Recipe Search</h1>

<p>Welcome to MyCookbook!</p>

<%= form_tag("/search", method: "get") do %>
  <%= f.label_tag(:q, "Search:") %>
  <%= f.text_field_tag(:q) %>

  <%= f.label_tag(:allowedIngredient, "Ingredients to include:") %>
  <%= f.text_field_tag(:allowedIngredient) %>

  <%= f.label_tag(:excludedIngredient, "Ingredients to exclude:") %>
  <%= f.text_field_tag(:excludedIngredient) %>

  <%= f.label_tag(:allowedCuisine, "Cuisine:") %>
  <%= f.options_for_select (@cuisines) %>

  <%= f.label_tag(:allowedCourse, "Course:") %>
  <%= f.options_for_select (@cuisines) %>

  <%= f.label_tag(:allowedHoliday, "Holiday:") %>
  <%= f.options_for_select (@cuisines) %>

  <%= f.submit_tag("Advanced Recipe Search") %>
<% end %>

<%= link_to "Basic Search", root_path %>
